{% extends 'base.html' %}

{% block center %}
  <h2> Lista de Cursos</h2>

  <a href="{% url 'curso_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for curso in cursos %}
      <tr>
        <td>{{ curso.nome }}</td>
        <td>
          <a href="{% url 'curso_editar' id=curso.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'curso_remover' id=curso.id %}" class="btn btn-danger btn-sm">Remover</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
{% endblock %}